# The top level settings are used as module
# and system configuration.

# A set of users which may be applied and/or used by various modules
# when a 'default' entry is found it will reference the 'default_user'
# from the distro configuration specified below
users:
   - default


# If this is set, 'root' will not be able to ssh in and they
# will get a message to login instead as the default $user
disable_root: false

# This will cause the set+update hostname module to not operate (if true)
preserve_hostname: false

# If you use datasource_list array, keep array items in a single line.
# If you use multi line array, ds-identify script won't read array items.
# This should not be required, but leave it in place until the real cause of
# not finding -any- datasources is resolved.
datasource_list: ['NoCloud', 'ConfigDrive', 'Azure', 'OpenStack', 'Ec2']
# Example datasource config
# datasource:
#    Ec2:
#      metadata_urls: [ 'blah.com' ]
#      timeout: 5 # (defaults to 50 seconds)
#      max_wait: 10 # (defaults to 120 seconds)



# The modules that run in the 'init' stage
cloud_init_modules:
 - migrator
 - seed_random
 - bootcmd
 - write-files
 - growpart
 - resizefs
 - set_hostname
 - update_hostname
 - update_etc_hosts
 - users-groups
 - ssh

# The modules that run in the 'config' stage
cloud_config_modules:
 - ssh-import-id
 - locale
 - set-passwords
 - timezone
 - disable-ec2-metadata
 - runcmd

# The modules that run in the 'final' stage
cloud_final_modules:
 - package-update-upgrade-install
 - write-files-deferred
 - puppet
 - chef
 - mcollective
 - salt-minion
 - reset_rmc
 - refresh_rmc_and_interface
 - rightscale_userdata
 - scripts-vendor
 - scripts-per-once
 - scripts-per-boot
 - scripts-per-instance
 - scripts-user
 - ssh-authkey-fingerprints
 - keys-to-console
 - install-hotplug
 - phone-home
 - final-message
 - power-state-change

# System and/or distro specific settings
# (not accessible to handlers/transforms)
system_info:
   # This will affect which distro class gets used
   distro: freebsd
   # Default user name + that default users groups (if added/used)
   default_user:
     name: freebsd
     lock_passwd: True
     gecos: FreeBSD
     groups: [admins, wheel]
     sudo: ["ALL=(ALL) NOPASSWD:ALL"]
     shell: /bin/tcsh
   network:
      renderers: ['freebsd']

manage_etc_hosts: localhost
syslog_fix_perms: root:wheel

runcmd:
 - xml edit --inplace -a '/opnsense/system/user[last()]' -t elem -n user /conf/config.xml
 - xml edit --inplace -s '/opnsense/system/user[last()]' -t elem -n name -v freebsd /conf/config.xml
 - xml edit --inplace -s '/opnsense/system/user[last()]' -t elem -n descr -v FreeBSD /conf/config.xml
 - xml edit --inplace -s '/opnsense/system/user[last()]' -t elem -n scope -v system /conf/config.xml
 - xml edit --inplace -s '/opnsense/system/user[last()]' -t elem -n groupname -v admins /conf/config.xml
 - xml edit --inplace -s '/opnsense/system/user[last()]' -t elem -n password -v '*' /conf/config.xml
 - xml edit --inplace -s '/opnsense/system/user[last()]' -t elem -n shell -v '/bin/tcsh' /conf/config.xml
 - xml edit --inplace -s '/opnsense/system/user[last()]' -t elem -n uid -v 1001 /conf/config.xml
 - xml edit --inplace -s '/opnsense/system/user[last()]' -t elem -n authorizedkeys -v `cat /usr/home/freebsd/.ssh/authorized_keys | base64 | tr -d '\n'` /conf/config.xml
 - xml edit --inplace -a '/opnsense/system/group[name[text()="admins"]]/member[last()]' -t elem -n member -v 1001 /conf/config.xml
# Workaround for https://gitlab.ics.muni.cz/muni-kypo-images/opnsense/-/issues/3
 - route -4n del 147.251.4.33/32
 - route -4n del 147.251.6.10/32
 - xml edit --inplace -s '/opnsense/staticroutes' -t elem -n route /conf/config.xml
 - xml edit --inplace -s '/opnsense/staticroutes/route[last()]' -t attr -n uuid -v 3f53cb8b-4b68-40e7-ad13-82921fde1cee /conf/config.xml
 - xml edit --inplace -s '/opnsense/staticroutes/route[last()]' -t elem -n network -v 147.251.4.33/32 /conf/config.xml
 - xml edit --inplace -s '/opnsense/staticroutes/route[last()]' -t elem -n gateway -v WAN /conf/config.xml
 - xml edit --inplace -a '/opnsense/staticroutes/route[last()]' -t elem -n route /conf/config.xml
 - xml edit --inplace -s '/opnsense/staticroutes/route[last()]' -t attr -n uuid -v 44187fd7-ca9a-4daa-a9f9-fccc173dfe53 /conf/config.xml
 - xml edit --inplace -s '/opnsense/staticroutes/route[last()]' -t elem -n network -v 147.251.6.10/32 /conf/config.xml
 - xml edit --inplace -s '/opnsense/staticroutes/route[last()]' -t elem -n gateway -v WAN /conf/config.xml
