<?xml version="1.0"?>
<opnsense>
  <theme>opnsense</theme>
  <system>
    <hostname>OPNsense</hostname>
    <domain>localdomain</domain>
    <timezone>Etc/UTC</timezone>
    <timeservers>pool.ntp.org</timeservers>
    <language>en_US</language>
    <dnsallowoverride_exclude/>
    <dnsserver>1.1.1.1</dnsserver>
    <disablefilter>enabled</disablefilter>
    <webgui>
      <protocol>https</protocol>
    </webgui>
    <ssh>
      <enabled>enabled</enabled>
      <permitrootlogin>1</permitrootlogin>
      <passwordauth>1</passwordauth>
    </ssh>
    <group>
      <name>admins</name>
      <description>System Administrators</description>
      <scope>system</scope>
      <gid>1999</gid>
      <member>0</member>
      <priv>page-all</priv>
    </group>
    <user>
      <name>root</name>
      <descr>System Administrator</descr>
      <scope>system</scope>
      <groupname>admins</groupname>
      <password>$1$4jx1iu9i$A0ohw9ZzG3XxJDqcdNcBk1</password>
      <uid>0</uid>
    </user>
  </system>
  <interfaces>
    <lan>
      <enable>1</enable>
      <if>em0</if>
      <ipaddr>dhcp</ipaddr>
    </lan>
    <vtnet1>
      <enable>1</enable>
      <if>vtnet1</if>
      <ipaddr>dhcp</ipaddr>
    </vtnet1>
  </interfaces>
</opnsense>
